<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/contact.css">
</head>
<body>
    <%- include('includes/nav.ejs') %>
    <div class="contact">
        <h1>Contact Us</h1>

        <form action="/contact" method="POST">
            <input type="text" name="name" placeholder="Your Name" required>

            <input type="email" name="email" placeholder="Your Email" required>

            <textarea name="message" placeholder="Your Message" required></textarea>

            <button type="submit">Send Message</button>
        </form>
    </div>
    <%- include('includes/footer.ejs') %>
</body>
</html>