<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create new post </title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <%- include('includes/nav.ejs') %>
    <h2>Create a new post</h2>
    <form method="post" action="/posts">
        <input type="text" placeholder="enter username" name="username">
        <br>
        <hr>
    
        <textarea name="content" placeholder="enter the content" cols="30" rows="10"></textarea>
        <textarea name="img" placeholder="enter the url of the image" cols="30" rows="10"></textarea>
        <br><hr>
        <button>Submit</button>
        <a href="http://localhost:8080/posts">Return to main page</a>
    </form>
    
    <%- include('includes/footer.ejs') %>
</body>
</html>